# This workflow is deprecated, and will be removed once
# all callers across the ecosystem move on to renovate-vault.yml.
name: Renovate (deprecated)
on:
  workflow_call:
    inputs:
      logLevel:
        description: "Override default log level"
        required: false
        default: "info"
        type: string
      overrideSchedule:
        description: "Override all schedules"
        required: false
        default: "false"
        type: string
      runner:
        description: "Value to be used on runs-on"
        required: false
        default: '["ubuntu-latest"]'
        type: string

concurrency: renovate

env:
  # Specify what Renovate version to use (this is separate from the github-action version)
  RENOVATE_VERSION: "42.94.6"
  # Repository taken from variable to keep configuration file generic
  RENOVATE_REPOSITORIES: ${{ github.repository }}
  # Onboarding not needed for self hosted
  RENOVATE_ONBOARDING: "false"
  # Username for GitHub authentication (should match GitHub App name + [bot])
  RENOVATE_USERNAME: "renovate-rancher[bot]"
  # Git commit author used, must match GitHub App
  RENOVATE_GIT_AUTHOR: "renovate-rancher <119870437+renovate-rancher[bot]@users.noreply.github.com>"
  # Use GitHub API to create commits (this allows for signed commits from GitHub App)
  RENOVATE_PLATFORM_COMMIT: "true"
  # Override schedule if set
  RENOVATE_FORCE: ${{ github.event.inputs.overrideSchedule == 'true' && '{''schedule'':null}' || '' }}
  # Override loglevel if set
  LOG_LEVEL: ${{ inputs.logLevel || 'info' }}
  RENOVATE_CONFIG_FILE: .github/renovate.json

jobs:
  renovate:
    runs-on: ${{fromJSON(inputs.runner)}}
    steps:
      - name: Checkout
        uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2
      - name: Validate and printout config
        run: jq -e . "${RENOVATE_CONFIG_FILE}"
      - name: Get token
        id: get_token
        uses: actions/create-github-app-token@29824e69f54612133e76f7eaac726eef6c875baf # v2.2.1
        with:
          app-id: ${{ secrets.RENOVATE_APP_ID }}
          private-key: ${{ secrets.RENOVATE_PRIVATE_KEY }}
      - name: Self-hosted Renovate
        uses: renovatebot/github-action@66387ab8c2464d575b933fa44e9e5a86b2822809 # v44.2.4
        with:
          renovate-version: ${{ env.RENOVATE_VERSION }}
          configurationFile: ${{ env.RENOVATE_CONFIG_FILE }}
          token: "${{ steps.get_token.outputs.token }}"
