name: Deploy Renovate
on:
  workflow_dispatch:
    inputs:
      deployRepository:
        description: "The repository to deploy Renovate to"
        required: true
        default: "rancher/"
        type: string
permissions: {}
jobs:
  renovate:
    runs-on: ubuntu-latest
    outputs:
      owner: ${{ steps.set_values.outputs.owner }}
      repositories: ${{ steps.set_values.outputs.repositories }}
    steps:
      - name: Set owner and repositories values
        id: set_values
        run: | 
          owner=$(echo "${{ github.event.inputs.deployRepository }}" | cut -d '/' -f1)
          repositories=$(echo "${{ github.event.inputs.deployRepository }}" | cut -d '/' -f2)
          echo "owner=$owner" >> "$GITHUB_OUTPUT"
          echo "repositories=$repositories" >> "$GITHUB_OUTPUT"
      - name: Get token
        id: get_token
        uses: actions/create-github-app-token@5d869da34e18e7287c1daad50e0b8ea0f506ce69 # v1.11.0
        with:
          app-id: ${{ secrets.RENOVATE_APP_ID }}
          private-key: ${{ secrets.RENOVATE_PRIVATE_KEY }}
          owner: ${{ steps.set_values.outputs.owner }}
          repositories: ${{ steps.set_values.outputs.repositories }}
      - name: Checkout
        uses: actions/checkout@692973e3d937129bcbf40652eb9f2f61becf3332 # v4.1.7
        with:
          token: '${{ steps.get_token.outputs.token }}'
          path: main
      - name: Checkout deploy repo
        uses: actions/checkout@692973e3d937129bcbf40652eb9f2f61becf3332 # v4.1.7
        with:
          repository: '${{ github.event.inputs.deployRepository }}'
          token: '${{ steps.get_token.outputs.token }}'
          path: deploy-repo
      - name: Create branch, commit and PR
        run: |
          BRANCH="deploy-renovate-$(date +%Y-%m-%d-%H-%M-%S)"
          git config --global user.email "119870437+renovate-rancher[bot]@users.noreply.github.com"
          git config --global user.name "renovate-rancher[bot]"
          cd deploy-repo
          DEFAULT_BRANCH=$(git remote show origin | awk '/HEAD branch/ {print $NF}')
          git checkout -b "${BRANCH}"
          mkdir -p .github/workflows
          TEMP_CONFIG=$(mktemp)
          jq --arg default_branch "${DEFAULT_BRANCH}" '.baseBranches = [$default_branch]' ../main/files/renovate.json > "${TEMP_CONFIG}"
          mv "${TEMP_CONFIG}" .github/renovate.json
          git add .github/renovate.json
          cp ../main/files/renovate-vault.yml .github/workflows/renovate-vault.yml
          git add .github/workflows/renovate-vault.yml
          FILES_TO_REMOVE=".github/dependabot.yaml .github/dependabot.yml .github/workflows/renovate.yml"
          for FILE_TO_REMOVE in $FILES_TO_REMOVE; do
            if [ -f "${FILE_TO_REMOVE}" ]; then
              git rm "${FILE_TO_REMOVE}"
            fi
          done
          git commit -a -m 'Add initial Renovate configuration'
          git push origin "${BRANCH}"
          CREATED_PR=$(gh pr create -R "${DEPLOY_REPOSITORY}" --title "Add initial Renovate configuration" --body "Add initial Renovate configuration, includes Renovate configuration file and GitHub Actions workflow. This automatically created PR has been initiated by @${GITHUB_ACTOR}" --base "${DEFAULT_BRANCH}" --head "${BRANCH}")
          echo "Inputs:" >> $GITHUB_STEP_SUMMARY
          echo "- deployRepository: [${DEPLOY_REPOSITORY}](https://github.com/${DEPLOY_REPOSITORY})" >> $GITHUB_STEP_SUMMARY
          echo "" >> $GITHUB_STEP_SUMMARY
          echo "Created PR: ${CREATED_PR}" >> $GITHUB_STEP_SUMMARY
        env:
          DEPLOY_REPOSITORY: '${{ github.event.inputs.deployRepository }}'
          GITHUB_TOKEN: '${{ steps.get_token.outputs.token }}'
